//@import '../node_modules/bootstrap/scss/bootstrap.scss';

.cmp-button {
    background-color: yellow;
    color: black;
    padding: 12px;
}
@media screen and (max-width: 400px) {
    .btn-elliptical {
        border-radius: 50%;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: grey;
        color: blue;
    }
}
@mixin table-styles {
        &.table-danger {
            background-color: yellow;

        }
        &.table-stripped {
            tbody tr {
                background-color: lightblue;
            }
        }
        &.table-responsive {
            overflow: auto;
            width: 100vw;
            text-align: center;
        }
        tr,td,th {
            color: red;
            padding: 12px;
            border: 1px solid black;
        }

}

table {
    @include table-styles;
    border: 1px solid black;
    border-collapse: collapse;
}